/*header*/
.logo-team img{
  width: 60px;
}
.logo-team{
  margin-bottom:10px;
}
.news{
  position:relative;
  padding:0;
}
.news img{
  width:100%;
}
.news > img:first-of-type{
  position:absolute;
  opacity:0.7;
}
.news > h3{
  position:absolute;
  color:#fff;
  z-index: 1;
  font-size: 2vw;
  margin-top:5%;
}
.news-second a:first-child{
  display:inline-block;
}
.news-second a{
  color: #000;
  text-decoration: none;
}
.news-second a:hover{
  color:#8B0000;
}
.news-second span:first-of-type{
  font-size: 16px;
  color:red;
}
.news-second span:last-of-type{
  font-size: 16px;
}
.hr-danger{
  background-image: -webkit-linear-gradient(
      rgba(139, 0, 0, 1),
      rgba(139, 0, 0, 1),
      rgba(139, 0, 0, 1)
  );
}
/*-----------------*/
.section-white span.label{
  font-size:30px;
  display:inline-block;
  position:relative;
  border-radius: 0;
  background-color:red;
}
.carousel-inner > .item > a > img{
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.carousel-inner > .item > a:hover > img{
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  opacity: 0.5;
}
.carousel-inner > .item:hover .play > img{
  opacity: 1;
}
.carousel-inner > .item{
  transition: all ease-in-out .3s;
}
.carousel-inner > .item .play{
  position: absolute;
  top: 25%;
  left: 40%;
  width: 20%;
}
.carousel-inner > .item .play > img {
  width:100%;
  height: 100%;
  /*margin:0 auto 0;*/
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.8;
}
.carousel-control{
  padding-top:25%;
}
li.media > a{
  position: relative;
  width: 80%;
  overflow: hidden;
  display: inline-block;
}
li.media a > img{
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 100%;
}
li.media a:hover > img{
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  opacity: 0.5;
}
li.media:hover .play > img{
  opacity: 1;
}
 li.media > a > .play{
  position: absolute;
  top: 30%;
  left: 36%;
  width: 25%;
}
li.media > a > .play > img {
  width:100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.8;
}
.main-list .media {
  text-align:center;
}
.main-list .media:not(:last-child){
  border-bottom: 2px solid #8c8c8c;
}
div.media-body > a{
  text-decoration:none;
  padding-top: 10px;
  color: #8c8c8c;
}
div.media-body > a:hover{
  color: #8B0000;
}
@media screen and (max-width:768px){
  li.media:first-child{
    padding-top:20px;
  }
}

/*---------------------------*/

/*table{
  font-size: 18px;
}


tr.head{
  color:#fff;
  background: #990000	;
  background: -webkit-linear-gradient(#990000	, #4d0000 	);
  background: -o-linear-gradient(#990000	, #4d0000  	);
  background: -moz-linear-gradient(#990000	, #4d0000  	);
  background: linear-gradient(#990000	, #4d0000 	);
}


tr.second{
  color:#fff;
  background: #666666	;
  background: -webkit-linear-gradient(#666666	, #262626 	);
  background: -o-linear-gradient(#666666	, #262626  	);
  background: -moz-linear-gradient(#666666	, #262626  	);
  background: linear-gradient(#666666	, #262626 	);

}

table tr td{
  padding-left: 10px;
  padding-right: 20px;
}

div#ou table tr.second,
div#asian table tr.second{
  cursor: pointer;
}

p.red,
a.red{
  color:red;
}

div.modal-body ul li.active a,
div.modal-body ul li.active a:focus,
div.modal-body ul li.active a:hover{
  background-color: #8B0000;
}


div.modal-body ul li:not(.active) a{
  color: #8B0000;
}*/
