@import "../_mixins.scss";
@import "../_variables.scss";
@font-face {
  font-family: 'db_helvethaica_x75_bd';
  src: url('/git/fonts/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'),
       url('/git/fonts/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'db_helvethaica_x65_med';
    src: url('/git/fonts/db_helvethaica_x_med_v3.2-webfont.woff2') format('woff2'),
         url('/git/fonts/db_helvethaica_x_med_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'db_helvethaica_x65_med';
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin:0;
  padding:0;
  border:0;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  &#social{
    font-family: 'db_helvethaica_x65_med';
    div.navbar-header{
      width: 100%;
      & > a:last-child{
        margin: 10px 0 0 0;
        border-radius: 15px;
        padding: 0 8px 0 !important;
        cursor: pointer;
        float: right;
        font-size: 22px;
        background-color:	lighten($brand-danger, 15%);
        border:0;
        i{
          font-size: 80%;
          margin-right:5px;
        }
        @media screen and (max-width: 768px) {
          margin-right: 10px;
        }
      }
    }
  }
  &#main-menu{
    font-size:20px !important;
    div.navbar-header{
      & > button{
        margin:18px 0 20px 20px;
        background: #B22222;
        border-radius: 50%;
        width:50px;
        height:50px;
        padding-left:13px;
      }
      & > .navbar-brand{
        height: auto;
        padding: 24px 10px 22px;
        img{
          width:150px;
        }
        @media only screen and (max-width: 768px){
          transform: translate(-45%);
          left:50%;
          position:absolute;
          padding-top: 20px;
        }
      }
    }
    div.navbar-right > ul.nav{
      @media screen and (min-width: 768px) {
        & > li{
          & > a{
            padding-top: 35px;
            padding-bottom: 35px;
          }
          &.active > a,
          &.open > a,
          &.hover > a{
            background: transparent;
            padding-top: 28px;
            border-top: 7px solid #B22222;
          }
        }
      }
    }
  }
}
section.image-header{
  color: #fff;
  background-image: url("/git/pic/image-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  div.bigmatch{
    min-height: 250px;
    line-height: 250px;
    span{
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      & > p{
        font-size: 20px;
      }
      & > h1{
        font-size:46px;
        &.match-text{
          font-size: 26px;
        }
      }
      & > div.logo-team > img{
        width: 25%;
      }
      & > span{
        display:inline-block;
        width:35px;
        text-align:center;
        margin-right:8px;
        p{
          color:#000;
          font-size: 25px;
          background-color:#fff;
          border-radius:5px;
          margin-bottom:5px;
        }
      }
    }
  }
    // div.bigmatch{
    //   h1.match-text{
    //     font-size:35px;
    //     margin:0;
    //   }
    //   span{
    //     display:inline-block;
    //     width:35px;
    //     text-align:center;
    //     margin-right:8px;
    //     p{
    //       color:#000;
    //       font-size: 25px;
    //       background-color:#fff;
    //       border-radius:5px;
    //     }
    //   }
    // }

  @media screen and (max-width: 768px) {
    &{
      background-position:50% 0;
    }
  }
}
