// NEWS INDEX
div.section-box{
  padding-top: 10px;

  & > h3 > a{
    color: #000;
    &:hover{
      color:#8B0000;
      text-decoration: none;
    }
  }
  & > p{
    font-size: 20px;
    & > a{
      font-size:16px;
    }
  }

  hr{
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgb(199, 199, 199);
  }

  div.rating-desc{
    & > div{
      span{
        font-size:16px;

        &:last-of-type{
          float: right;
          margin-top: 4px;
        }
      }
    }
  }
}

div.sidebar-collapse{
  padding:0;
  div.leagues-list{
    & > ul.nav{
      & > li{
        &.active a{
          background:  url("/pic/active.png")no-repeat;
          background-size: cover;
          color:#fff;
        }
        margin-bottom: 3px;
        &:not(:last-child){
          border-bottom: 1px solid #f0f4f7;
        }
        & > a{
          color: #000000;
          font-size: 20px;
          font-weight: 400;
          background-color: #F5F5F5;
          border-left: 5px solid #8B0000;
          margin-left: -5px;
          cursor: pointer;
          &:hover{
            background-color: #fff;
            color: #5b9bd1;
          }
        }
      }
    }
  }

  div.search-leagues{
    input{
      font-size:20px;
      border-radius:0;
      padding:20px;
      background-color:#F5F5F5;
      border:0;
    }
    form{
      position:relative;
      & > button{
        position:absolute;
        right:3%;
        bottom:7%;

        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        background-color: inherit;
        outline:none;
        border:none;
      }
    }
  }

  #datetimepicker1{
    font-size: 18px;
    font-weight:200;
  }
}

button.detail{
  margin-bottom:30px;

  @media screen and (min-width: 768px) {
      display:none;
  }
}

.pagination > li{
  & > a,
  & > span{
    // margin: 0 5px;
    color:#000;
    &:hover{
      color:#000 !important;
    }
  }
  &.active{
    span,
    span:hover{
      background-color: #B22222 !important;
      border-color:#B22222 !important;
    }
  }
}

// NEWS SHOW
div.head-news-show{
  & > span{
    font-size:20px;
    font-weight:normal;
    & > i{
      font-size:20px;
    }
    &.facebook-button{
      div.fb-like{
        & > span{
          vertical-align: middle !important;
        }
      }
      @media screen and (min-width: 768px) {
          margin-left: 20px;
      }
      @media screen and (max-width: 768px) {
          display:block;
      }
    }
  }
  & > img{
    width: 100%;
  }
}

ul.other{
  list-style:none;
  li{
    & > img{
      width:15px;
    }
    & > a{
      color: #000;
      &:hover,
      &:active{
        text-decoration: none;
        color:red;
      }
    }
    &:not(:last-child){
      margin-bottom:5px;
    }
  }
}

div.hot-news{
  border-radius: 0;
  border:none;
  box-shadow: none;
  div.panel-heading{
    background:#B22222;
    color:#fff; 
  }
  div.panel-body{
    img{
      width:100%;
    }
    & > div > div{
      h1{
        font-weight:600;
        font-size: 22px;
      }
      p, a{
        font-size: 16px;
      }
    }
  }
}
