div.section-box{
  padding-top: 10px;

  & > h3 > a{
    color: #000;
    &:hover{
      color:#8B0000;
      text-decoration: none;
    }
  }
  & > p{
    font-size: 20px;
    & > a{
      font-size:16px;
    }
  }

  hr{
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgb(199, 199, 199);
  }

  div.rating-desc{
    & > div{
      span{
        font-size:16px;

        &:last-of-type{
          float: right;
          margin-top: 4px;
        }
      }
    }
  }
}

div.sidebar-collapse{
  padding:0;
  div.leagues-list{
    & > ul.nav{
      & > li{
        &.active a{
          background:  url("/pic/active.png")no-repeat;
          background-size: cover;
          color:#fff;
        }
        margin-bottom: 3px;
        &:not(:last-child){
          border-bottom: 1px solid #f0f4f7;
        }
        & > a{
          color: #000000;
          font-size: 20px;
          font-weight: 400;
          background-color: #F5F5F5;
          border-left: 5px solid #8B0000;
          margin-left: -5px;
          cursor: pointer;
          &:hover{
            background-color: #fff;
            color: #5b9bd1;
          }
        }
      }
    }
  }

  div.search-leagues{
    background:red;
  }
}

button.detail{
  margin-bottom:30px;

  @media screen and (min-width: 768px) {
      display:none;
  }
}

.pagination > li{
  & > a,
  & > span{
    // margin: 0 5px;
    color:#000;
    &:hover{
      color:#000 !important;
    }
  }
  &.active{
    span,
    span:hover{
      background-color: #B22222 !important;
      border-color:#B22222 !important;
    }
  }
}
